
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@*<h2>Index</h2>*@

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/User/images/favicon.png">
    <title>
        Welcome to FlatShop
    </title>
    <link href="~/Content/User/css/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,100italic,100' rel='stylesheet' type='text/css'>
    <link href="~/Content/User/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/User/css/flexslider.css" type="text/css" media="screen" />
    <link href="~/Content/User/css/style.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
    </script>
    <script src="https://oss.maxcdn.com/libs/respond.~/Content/User/js/1.3.0/respond.min.js">
    </script>
    <![endif]-->
</head>
<body>
    <div class="wrapper">
        
        <div class="clearfix">
        </div>
        <div class="container_fullwidth">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="special-deal leftbar" style="margin-top:0;">
                            <h4 class="title">
                                Ưu đãi
                                <strong>
                                    đặc biệt
                                </strong>
                            </h4>
                            <div class="special-item">
                                <div class="product-image">
                                    <a href="details.html">
                                        <img src="~/Content/User/images/products/thum/nước ép dưa hấu.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product-info">
                                    <p>
                                        <a href="details.html">
                                          Nước ép dưa hấu
                                        </a>
                                    </p>
                                    <h5 class="price">
                                        25.000 đ
                                    </h5>
                                </div>
                            </div>
                            <div class="special-item">
                                <div class="product-image">
                                    <a href="details.html">
                                        <img src="~/Content/User/images/products/thum/rs bánh kem scl (1).jpg" alt="">
                                    </a>
                                </div>
                                <div class="product-info">
                                    <p>
                                        <a href="details.html">
                                            Bánh kem socola
                                        </a>
                                    </p>
                                    <h5 class="price">
                                        50.000 đ
                                    </h5>
                                </div>
                            </div>
                            <div class="special-item">
                                <div class="product-image">
                                    <a href="details.html">
                                        <img src="~/Content/User/images/products/thum/rs cf espresso (1).jpg" alt="">
                                    </a>
                                </div>
                                <div class="product-info">
                                    <p>
                                        <a href="details.html">
                                            Cafe espresso
                                        </a>
                                    </p>
                                    <h5 class="price">
                                        55.000 đ
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="product-tag leftbar">
                            <h3 class="title">
                                Thêm
                                <strong>
                                    Topping
                                </strong>
                            </h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        Thêm đường
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Thêm trân châu
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Thêm kem chesse
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        thêm thạch
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Nguyên chất
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Ít đường
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Không đá
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="get-newsletter leftbar">
                            <h3 class="title">
                                Nhận
                                <strong>
                                    phản hồi
                                </strong>
                            </h3>
                            
                            <form>
                                <input class="email" type="text" name="" placeholder="Email của bạn...">
                                <input class="submit" type="submit" value="Gửi">
                            </form>
                        </div>
                        <div class="fbl-box leftbar">
                            <h3 class="title">
                                Facebook
                            </h3>
                            <span class="likebutton">
                                <a href="#">
                                    <img src="~/Content/User/images/fblike.png" alt="">
                                </a>
                            </span>
                            <p>
                                12k people like DC Coffee.
                            </p>
                            <ul>
                                <li>
                                    <a href="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    </a>
                                </li>
                            </ul>
                            <div class="fbplug">
                                <a href="#">
                                    <span>
                                        <img src="~/Content/User/images/fbicon.png" alt="">
                                    </span>
                                    Facebook social plugin
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="checkout-page">
                            <ol class="checkout-steps">
                                <li class="steps">
                                    <div class="step-title">
                                        01. Lựa chọn thanh toán
                                    </div>
                                </li>
                                <li class="steps active">
                                    <a href="checkout.html" class="step-title">
                                        02. Thông tin thanh toán
                                    </a>
                                    <div class="step-description">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="your-details">
                                                        <h5>
                                                            Thông tin cá nhân
                                                        </h5>
                                                        <div class="form-row">
                                                            <label class="lebel-abs">
                                                                Họ 
                                                                <strong class="red">
                                                                    *
                                                                </strong>
                                                            </label>
                                                            <input type="text" class="input namefild" name="">
                                                        </div>
                                                        <div class="form-row">
                                                            <label class="lebel-abs">
                                                                Tên
                                                                <strong class="red">
                                                                    *
                                                                </strong>
                                                            </label>
                                                            <input type="text" class="input namefild" name="">
                                                        </div>
                                                        <div class="form-row">
                                                            <label class="lebel-abs">
                                                                Email
                                                                <strong class="red">
                                                                    *
                                                                </strong>
                                                            </label>
                                                            <input type="text" class="input namefild" name="">
                                                        </div>
                                                        <div class="form-row">
                                                            <label class="lebel-abs">
                                                                SĐT
                                                                <strong class="red">
                                                                    *
                                                                </strong>
                                                            </label>
                                                            <input type="text" class="input namefild" name="">
                                                        </div>
                                                      
                                                        <div class="pass-wrap">
                                                            <div class="form-row">
                                                                <label class="lebel-abs">
                                                                    Mật khẩu của bạn
                                                                    <strong class="red">
                                                                        *
                                                                    </strong>
                                                                </label>
                                                                <input type="password" class="input namefild" name="">
                                                            </div>
                                                            <div class="form-row">
                                                                <label class="lebel-abs">
                                                                    Xác nhận mật khẩu của bạn
                                                                    <strong class="red">
                                                                        *
                                                                    </strong>
                                                                </label>
                                                                <input type="password" class="input cpass" name="">
                                                            </div>
                                                        </div>
                                                        <p>
                                                            <span class="input-radio">
                                                                <input type="radio" name="user">
                                                            </span>
                                                            <span class="text">
                                                                Tôi muốn đăng ký để nhận ưu đãi từ DC Coffee
                                                            </span>
                                                        </p>
                                                        <p>
                                                            <span class="input-radio">
                                                                <input type="radio" name="user">
                                                            </span>
                                                            <span class="text">
                                                                Địa chỉ và thanh toán giống nhau
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="your-details">
                                                        <h5>
                                                            Địa chỉ của bạn
                                                        </h5>
                                                        <div class="form-row">
                                                            <label class="lebel-abs">
                                                                Địa chỉ 01
                                                                <strong class="red">
                                                                    *
                                                                </strong>
                                                            </label>
                                                            <input type="text" class="input namefild" name="">
                                                        </div>
                                                        <div class="form-row">
                                                            <label class="lebel-abs">
                                                                Địa chỉ 02
                                                                <strong class="red">
                                                                    *
                                                                </strong>
                                                            </label>
                                                            <input type="text" class="input namefild" name="">
                                                        </div>
                                                        <div class="form-row">
                                                            <label class="lebel-abs">
                                                                Thành phố
                                                                <strong class="red">
                                                                    *
                                                                </strong>
                                                            </label>
                                                            <input type="text" class="input namefild" name="">
                                                        </div>
                                                        <div class="form-row">
                                                            <label class="lebel-abs">
                                                                Mã id
                                                                <strong class="red">
                                                                    *
                                                                </strong>
                                                            </label>
                                                            <input type="text" class="input namefild" name="">
                                                        </div>
                                                        <div class="form-row">
                                                            <label class="lebel-abs">
                                                                Quốc gia
                                                                <strong class="red">
                                                                    *
                                                                </strong>
                                                            </label>
                                                            <input type="text" class="input namefild" name="">
                                                        </div>
                                                        <div class="form-row">
                                                            <label class="lebel-abs">
                                                                Vùng / Miền
                                                                <strong class="red">
                                                                    *
                                                                </strong>
                                                            </label>
                                                            <input type="text" class="input namefild" name="">
                                                        </div>
                                                        <p class="privacy">
                                                            <span class="input-radio">
                                                                <input type="radio" name="user">
                                                            </span>
                                                            <span class="text">
                                                               Tôi đồng ý với chính sách quyền riêng tư của
                                                                <a href="#" class="red">
                                                                    DC coffee
                                                                </a>
                                                            </span>
                                                        </p>
                                                        <button>
                                                            Tiếp tục
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <li class="steps">
                                    <a href="checkout2.html" class="step-title">
                                        03. Thông tin vận chuyển
                                    </a>
                                </li>
                                <li class="steps">
                                    <a href="#" class="step-title">
                                        04. Phương thức giao hàng
                                    </a>
                                </li>
                                <li class="steps">
                                    <a href="#" class="step-title">
                                        05. Thông tin thanh toán
                                    </a>
                                </li>
                                <li class="steps">
                                    <a href="#" class="step-title">
                                        06. Đánh giá
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                </div>
                
            </div>
        </div>
        <div class="clearfix">
        </div>
        
    </div>
    <!-- Bootstrap core JavaScript==================================================-->
    <script type="text/javascript" src="~/Content/User/js/jquery-1.10.2.min.js">
    </script>
    <script type="text/javascript" src="~/Content/User/js/bootstrap.min.js">
    </script>
    <script defer src="~/Content/User/js/jquery.flexslider.js">
    </script>
    <script type="text/javascript" src="~/Content/User/js/jquery.carouFredSel-6.2.1-packed.js">
    </script>
    <script type="text/javascript" src="~/Content/User/js/script.min.js">
    </script>
</body>
</html>
